extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='javascript:window.open("http://vm:1337/Sso/Login/0fc947b9-d986-4147-8e57-a0ca05b9d0c3?returnUrl=/account", "", "width=1000;height=500;");') Click here to log in!